body {
	padding: 0;
	margin: 0;
	font-family: Arial;
}
#map {
	width: 100%; height:100%;
	position:absolute;
	top: 0;
	z-index: 1;
}

.panel {
	padding: 5px;
	background-color: rgba(0,0,0,0.6);
	color: white;
	z-index: 2;
	position:relative;
}

#overlay {
	text-align:center;
	width: 90%;
	margin: 10px auto;
}

#subtitle {
	font-size: 36px;
}

.place-lyric {
	text-transform: uppercase;
	color: #5c5;
}

#progress {
	background-color: #595;
	height: 5px;
	width: 0%;
}

#time {
	float:right;
}

#finger {
	position:absolute;
	top: 120px;
	text-align:center;
	display: none;
	z-index: 3;
	width: 100%;
}

#distance {
	position: absolute;
	bottom: 10%;
	left: 5%;
	z-index: 5;
	font-size: 24px;
}
#credits {
	position: absolute;
	bottom: 10%;
	right: 5%;
	font-size: 12px;
}
#credits a {
	color: white;
}
#distance-num {
	font-size: 36px;
	margin-left: 10px;
}
#controls {
	float:left;
	display:none;
}